.table-results-service {
    padding-top: 8px;
    margin-left: -10px;
}

.table-results-detail {
    width: 80px;
    text-decoration: underline;
    color: #4277ff;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    margin: 0;

    &:hover {
        cursor: pointer;
    }
}

.service-title {
    margin-left: 22px;
}
